body {
  background-color: #682a42;
}

h1 {
  color: #fffdfd;
  text-shadow: 4px 3px #110813;
}

p {
  color: #eb7676;
  
  border: 2px solid #7a494d;
}
.App {
  text-align: center;
  margin-top: 50px;
  
}

.pokemon {
  width: 300px;
  border: 20px solid #7a494d;
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  background-color: #083338;

}

.pokemon img {
  border-style: solid;
  background: #aa9091;
  border-color: #17191a;
  width: 95px;
  height: 95px;
  margin-bottom: 5px;
}

.language-buttons {
  margin-bottom: 5px;
}

.language-buttons button {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #db881a;
  color: #110813;
  border: none;
}

.language-buttons button:hover {
  background-color: #a919d4;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats-column {
  margin-left: 10px;
}

.stats-column p {
  text-align: left;
}

.type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}

.type {
  padding: 5px 10px;
  border-radius: 20px;
  color: rgb(168, 26, 26);
}
